* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

li {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: flex-end;
  overflow: hidden;
}

#box-SideMenu {
  width: 0;
  overflow: hidden;
  transition: width 0.5s ease;
}

#box-SideMenu.open {
  width: 250px;
}

.box-Header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #f9f9f9;
  padding: 20px;
}

#box-Menu {
  display: flex;
  background-color: #eee;
  overflow: auto;
  height: calc(100vh - 160px);
  padding: 20px;
  flex-direction: column;
}

.box-Prompt {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  margin-top: auto;
}

#box-Output {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  overflow-y: auto;
  white-space: pre-line;
  padding: 0 50px 0 50px;
}

.box-Input {
  display: flex;
  width: calc(100%);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  overflow-y: hidden;
}

#txt-Input {
  width: calc(100% - 80px);
  height: 40px;
  min-height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  overflow-y: hidden;
}

#btn-Submit {
  height: 40px;
  width: 100px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#btn-Submit:hover {
  background-color: #0056b3;
}

.btn-Toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1;
}

.btn-Toggle.animated {
  transition: left 0.5s ease;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: #333;
  transition: 0.4s;
}
