* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
}

textarea {
  resize: none;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.box-Menu {
  display: flex;
  flex-direction: column;
}

.box-Prompt {
  display: flex;
  flex-direction: column;

}

.box-Output {
  height: 95vh;
}

.box-Input {
  height: 5vh;
}

.txt-Input {
  width: 90%;
}

@media (min-width: 1281px) {
  
  
  
}